.container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width:20%;
   padding:20px;
   -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.12);
   box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.03);

}
.header{
    font-size: 2rem;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginInput{
    flex: 1;
    min-width: 50%;
    margin: 10px 0px;
    padding:10px
}
.loginButton{
    width: 40%;
    border:none;
    background: #6246ea;
    color:white;
    margin-top: 10px;
    padding: 10px;
}